@model List<User>
@{
    ViewBag.title = "index";
}


<h1 >Registered Users</h1>

<table bgcolor ="black" width="300" border="1">
    <thead>
        <tr bgcolor= "grey">
            <th>Name</th>
            <th>User</th>
        </tr>
    </thead>
    <tbody bgcolor ="lightgrey" align ="center" width ="300">
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.name</td>
                <td>@user.email</td>
            </tr>
        }
    </tbody>
</table>